<%= link_to "動画を投稿する", new_video_path, class: "btn btn-success" %>
<% @video.each do |video| %>
  <div class="border col-12 py-3 ">
    <p>動画のタイトル：<%= video.title %>
    <%= link_to '詳細', video_path(video.id), method: :get, class: "btn btn-primary" %>  
    </p>
    <p>動画の説明：<%= video.explanation %></p>
    <p>都道府県：<%= video.prefecture.name %></p>
    <p>その他住所：<%= video.address %></p>
    <p>カテゴリ：<%= video.category.name %></p>
    <video controls autoplay muted src="<%= rails_blob_path(video.movie) %>" type="video/mp4">
    <p>ブラウザに対応していないため、動画を再生できません。</p>
    </video>
  </div>
<% end %>

<script>
  $(window).on('load', function() {
    $('body').addClass('bg-dark');
    $('body').addClass('text-light');
  });
</script>