<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="row top-message d-flex align-items-center">
      <div class="row d-flex justify-content-center">
        <div class="h3 bg-info d-flex justify-content-center col-4 fw-bold text-decoration-underline">旅行の動画を共有しましょう！</div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="h4 bg-info d-flex justify-content-center col-6">旅行へ行った際の動画をみんなで投稿して、見た人が旅行先を決める際の参考にしたり、旅行に行った気分になったりするためのサイトです。</div>
      </div>
    </div>
    <div class="col-11">
      <% if user_signed_in? %>
        <%= link_to "動画を投稿する！", new_video_path, class: "btn btn-success btn-lg post-btn" %>
      <% end %>
      <div class="row justify-content-center h2">
        - 最新の投稿 -
      </div>
      <div class="row justify-content-center">
        <% count = 0 %>
        <% @video.each do |video| %>
        <% break if count >= 4 %>
        <% count += 1 %>
        <%# 最新の投稿は新しい順に4件まで表示 %>
          <div class="col-6 border shadow-sm p-3 justify-content-center">
            <p>動画のタイトル：<%= video.title %>
            <%= link_to '動画詳細', video_path(video.id), method: :get, class: "btn btn-primary" %></p>
            <p>動画の説明：<%= video.explanation %></p>
            <p>都道府県：<%= video.prefecture.name %></p>
            <p>その他住所：<%= video.address %></p>
            <p>カテゴリ：<%= video.category.name %></p>
            <p>投稿者：<%= video.user.name %></p>
            <video controls autoplay muted src="<%= rails_blob_path(video.movie) %>" type="video/mp4">
              <p>ブラウザに対応していないため、動画を再生できません。</p>
            </video>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>