<%= form_with model: @video, local: true do |f| %>
  <p>動画のタイトル</p><%= f.text_field :title %> <br>
  <p>動画の説明</p><%= f.text_area :explanation %> <br>
  <p>都道府県</p><%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"video-prefecture"}) %> <br>
  <p>カテゴリ</p><%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"video-category"}) %> <br>
  <p>動画</p><%= f.file_field :video %> <br>
  <%= f.submit '投稿する' %>
<% end %>