<%= form_with model: @video, local: true do |form| %>
  <p>動画のタイトル</p><%= form.text_field :title %> <br>
  <p>動画の説明</p><%= form.text_area :introduction %> <br>
  <p>動画</p><%= form.file_field :video %> <br>
  <%= form.submit %>
<% end %>