<div class="container">
<div class="border shadow-sm col-12 p-3 ">
  <% if user_signed_in? && current_user.id == @video.user.id %>
    <%= link_to '編集', edit_video_path(@video.id), method: :get, class: "btn btn-primary" %>
    <%= link_to '削除', video_path(@video.id), method: :delete, class: "btn btn-danger" %>
  <% end %>
  <% if @video.already_favorited?(current_user) %>
    <%= link_to 'お気に入り解除', video_favorites_path(@video.id), method: :delete, class: "btn btn-danger btn-sm" %></p>
  <% else %>
    <%= link_to 'お気に入り登録', video_favorites_path(@video.id), method: :post, class: "btn btn-warning btn-sm" %></p>
  <% end %>
  <p>動画のタイトル：<%= @video.title %></p>
  <p>動画の説明：<%= @video.explanation %></p>
  <p>都道府県：<%= @video.prefecture.name %></p>
  <p>その他住所：<%= @video.address %></p>
  <p>カテゴリ：<%= @video.category.name %></p>
  <p>投稿者：<%= @video.user.name %></p>
  <p>更新日：<%= @video.updated_at.strftime("%Y-%m-%d") %></p>
  <video controls autoplay muted src="<%= rails_blob_path(@video.movie) %>" type="video/mp4">
  <p>ブラウザに対応していないため、動画を再生できません。</p>
  </video>
</div>
</div>