<%= link_to '編集', edit_video_path(@video.id), method: :get, class: "btn btn-primary" %>
<%= link_to '削除', video_path(@video.id), method: :delete, class: "btn btn-danger" %>
<p>動画のタイトル：<%= @video.title %></p>
<p>動画の説明：<%= @video.explanation %></p>
<p>都道府県：<%= @video.prefecture.name %></p>
<p>その他住所：<%= @video.address %></p>
<p>カテゴリ：<%= @video.category.name %></p>
<p>更新日：<%= @video.updated_at.strftime("%Y-%m-%d") %></p>
<video controls autoplay muted src="<%= rails_blob_path(@video.movie) %>" type="video/mp4">
<p>ブラウザに対応していないため、動画を再生できません。</p>
</video>