<div class="container col-6">
  <div class="border shadow-sm p-3">
    <h2>ログイン</h2>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field col-6">
        <%= f.label 'ニックネーム' %><br />
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="field col-6">
        <%= f.label 'パスワード' %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.label 'ログイン状態を維持する' %><br />
          <%= f.check_box :remember_me, class: "from-check-input" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit 'ログイン', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>