<!DOCTYPE html>
<html>
  <head>
    <title>VideoTraveler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 md-3 bg-whiteborder-bottom shadow-sm">
          <h2 class="my-0 mr-md-auto font-weight-normal"><a href="/">VideoTraveler</a></h2>
            <% if user_signed_in? %>
              <nav class="my-2 my-md-0 mr-md-3">
                <%= current_user.name %>
                <%= link_to "マイページ", '#' %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </nav>
            <% else %>
              <nav class="my-2 my-md-0 mr-md-3">
                <%= link_to "ログイン", new_user_session_path, class: "post" %>
                <%= link_to "新規登録", new_user_registration_path, class: "post" %>
              </nav>
            <% end %>
      </header>
    <%= yield %>
  </body>
</html>
